.task {
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    z-index: 10;
    background-color: #fff;
    position: relative;
    &__header {
        display: grid;
        grid-template-columns: 30px 160px 160px 277px 160px 160px 30px;
        font-size: 16px;
    }
    &__number {
        font-size: 20px;
        font-weight: bold;
    }
    &__priority {
        span {
            font-weight: bold;
        }
    }
    &__main {
        padding: 0 15px 0 15px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 185px 500px 185px;
        column-gap: 39px;
    }
    &__subTasks, &__files {
        box-shadow: 1px 1px 20px gray;
        border-radius: 10px;
        padding: 10px;
        h2 {
            font-size: 18px;
        }
        hr {
            margin: 5px 0 5px 0;
        }
        li {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
    &__descr {
        position: relative;
        width: 500px;
        &_text {
            max-height: 96px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            transition: .6s all;
            &-more {
                box-shadow: 1px 1px 10px black, -1px -1px 10px black;
                overflow: auto;
                -webkit-line-clamp: inherit;
                -webkit-box-orient: vertical;
            }
        }
        &_more {
            margin-top: 10px;
        }
    }
    &__input {
        width: 100%;
        text-overflow: ellipsis;
    }
    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    &__comments {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__editDescr {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}