.projects {
    padding: 30px 400px;
    &__modal {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;
        width: 200px;
        height: 100px;
        background-color: rgb(211, 211, 211);
        z-index: 100;
        button {
            &:nth-child(2) {
                margin-right: 10px;
            }
        }
    }
    &__title {
        text-shadow: 2px 2px 5px rgb(139, 139, 139);
    }
    &__grid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        gap: 40px;
        margin-top: 30px;
    }
    &__item {
        position: relative;
        width: 230px;
        box-shadow: 2px 2px 15px black;
        border-radius: 5px;
        padding: 10px
    }
    &__name {
        font-size: 22px;
        word-wrap: break-word;
        margin-top: 20px;
    }
    &__tasks {
        font-size: 20px;
        margin-top: 10px;
    }
    &__list {
        margin-top: 10px;
        li {
            margin-bottom: 10px;
        }
    }
    &__add {
        margin-top: 40px;
        width: 150px;
        height: 50px;
        border-radius: 10px
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
                span {
                    display: block;
                    background-color: rgb(105, 105, 105);
                    width: 20px;
                    height: 4px;
                    transform: rotate(45deg) translateX(3px);
                    &:nth-child(2) {
                        transform: rotate(-45deg) translateX(2.5px);
                    }
                }
    }
    &__about {
        text-decoration: none;
        color: blueviolet
    }
}