.status {
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 50%;
    justify-self: right;
    &__mini {
        width: 25px;
        height: 25px;
    }
    &__failed {
        background: 'red';
    }
    &__inProcess {
        background: #F0F427;
    }
    &__done {
        background: 'green';
    }
}